<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<th:block th:fragment="sidebarFragment">
<body>
	
	
	 <!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">
		<section class="section profile">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img class="avatar-img"
     th:src="${userProfile != null and userProfile.profilePicture != null ? userProfile.profilePicture : '/album/assets/avatars/face-1.jpg'}">


                    <h2>윈터</h2>
                    <p th:text="${userProfile != null ? userProfile.toString() : 'userProfile is null'}"></p>
                    <p th:text="${userProfile != null ? userProfile.statusMessage : 'statusMessage is null'}"></p>

                    <div class="social-links mt-2">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
		<ul class="sidebar-nav" id="sidebar-nav">
		
			<li class="nav-item">
				<a class="nav-link " href="index.html">
					<i class="bi bi-grid"></i>
					<span>Home</span>
				</a>
			</li><!-- End Dashboard Nav -->
		
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
					<i class="bx bx-search"></i><span>Search</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="components-alerts.html">
							<i class="bi bi-circle"></i><span>up-to-date</span>
						</a>
					</li>
					<li>
						<a href="components-accordion.html">
							<i class="bi bi-circle"></i><span>popularity</span>
						</a>
					</li>
					<li>
						<a href="components-badges.html">
							<i class="bi bi-circle"></i><span>followers</span>
						</a>
					</li>
					<li>
						<a href="components-breadcrumbs.html">
							<i class="bi bi-circle"></i><span>picture</span>
						</a>
					</li>
				</ul>
			</li><!-- End Components Nav -->
		
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-bar-chart"></i><span>Album</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href="charts-chartjs.html">
							<i class="bi bi-circle"></i><span>첫째놈</span>
						</a>
					</li>
					<li>
						<a href="charts-apexcharts.html">
							<i class="bi bi-circle"></i><span>둘째놈</span>
						</a>
					</li>
					<li>
						<a href="charts-echarts.html">
							<i class="bi bi-circle"></i><span>+추가</span>
						</a>
					</li>
				</ul>
			</li><!-- End Charts Nav -->
		
			<li class="nav-item">
				<a class="nav-link collapsed" href="users-profile.html">
					<i class="bi bi-person"></i>
					<span>Profile</span>
				</a>
			</li><!-- End Profile Page Nav -->
		
			<li class="nav-item">
				<a class="nav-link collapsed" href="pages-contact.html">
					<i class="bi bi-envelope"></i>
					<span>Message</span>
				</a>
			</li><!-- End Contact Page Nav -->
		
			<li class="nav-item">
				<a class="nav-link collapsed" href="pages-register.html">
					<i class="bx bx-group"></i>
					<span>Followers</span>
				</a>
			</li><!-- End Register Page Nav -->
		
			<li class="nav-item">
				<a class="nav-link collapsed" href="pages-login.html">
					<i class="bx bx-cog"></i>
					<span>Setting</span>
				</a>
			</li><!-- End Login Page Nav -->
		
		</ul>
	</aside><!-- End Sidebar-->
  
</body>
</th:block>
</html>